* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: gillL;
  src: url(../fonts/Gill-Sans-Font-Family/GillSansLight.otf);
}
@font-face {
  font-family: prox;
  src: url(../fonts/MarkSimonson\\ProximaNova\c ondensedLightTheFontsMaster.com.otf);
}
@font-face {
  font-family: ptReg;
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: gillSansItalic;
  src: url(../fonts/GillSansItalic.otf);
}
@font-face {
  font-family: gillSansLightItalic;
  src: url(../fonts/GillSansLightItalic.otf);
}
@font-face {
  font-family: gillReg;
  src: url(../fonts/GillSans.otf);
}
@font-face {
  font-family: gillLight;
  src: url(../fonts/GillSansLight.otf);
}
@font-face {
  font-family: gillLightBoldItalic;
  src: url(../fonts/GillSansBoldItalic.otf);
}
@font-face {
  font-family: gillSansBold;
  src: url(../fonts/GillSansBold.otf);
}
.hero {
  background: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/home-hero.jpg);
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
}
.hero nav {
  height: 65px;
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
.hero nav a {
  text-decoration: none;
  color: #fff;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 47px;
  letter-spacing: 2px;
}
.hero nav .logo {
  width: 92px;
  height: 42px;
  border: 2px solid white;
}
.hero nav .logo h4 {
  margin-top: 20px;
  letter-spacing: 3px;
  color: white;
  font-family: gillLight;
  font-size: 20px;
}
.hero nav .links {
  min-width: 300px;
  height: 42px;
  align-items: center;
  margin-top: 47px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hero nav .links .pipe {
  color: #EE4367;
}
.hero hr {
  color: #fff;
  width: 980px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #fff;
}
.hero .header {
  margin: 0 auto;
  height: 300px;
  width: 400px;
  margin-top: 62.5px;
  text-align: center;
  color: white;
}
.hero .header .title {
  font-family: ptReg;
  font-size: 40px;
}
.hero .header .sub {
  font-family: gillSansItalic;
  color: #EE4367;
  font-size: 20px;
  margin-top: 9px;
}
.hero .header .lorem {
  font-family: gillSansItalic;
  font-size: 20px;
  margin-top: 49px;
  color: white;
}
.hero .header button {
  width: 121.62px;
  height: 40.04px;
  background-color: #EE4367;
  border: none;
  font-family: gillReg;
  font-size: 15px;
  color: white;
  margin-top: 59px;
}

.quote {
  width: 980px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.quote .pg {
  display: flex;
  flex-direction: column;
}
.quote .pg p {
  margin: 0 auto;
  width: 789px;
  height: 90px;
  color: #FFD140;
  font-family: gillReg;
  font-size: 17px;
  margin-top: 77px;
  line-height: 23px;
}
.quote .pg .john {
  margin-top: 19px;
  font-family: ptReg;
  font-size: 15px;
  color: #EE4367;
  width: 75px;
  height: 20px;
  margin-left: 100px;
}
.quote .pg .CEO {
  margin-top: 5px;
  font-family: ptReg;
  color: #A8A8A8;
  font-size: 10px;
  width: 160px;
  height: 13px;
  margin-left: 100px;
}

.upcoming {
  width: 100%;
  height: 320px;
  background-color: #540D6E;
  display: flex;
  flex-direction: column;
}
.upcoming .up-events {
  width: 267px;
  height: 29px;
  font-family: gillReg;
  font-size: 25px;
  margin: 40px;
  margin-top: 50px;
  color: white;
  letter-spacing: 2px;
}
.upcoming .up-events .line {
  width: 392px;
}
.upcoming .events {
  display: flex;
  width: 1280px;
  height: 124px;
  margin-left: 40px;
}
.upcoming .events .event1 {
  width: 220px;
  height: 124px;
  display: flex;
}
.upcoming .events .event1 .square {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
}
.upcoming .events .event1 .square .text {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  justify-content: center;
  margin-left: 15px;
}
.upcoming .events .event1 .square .text span {
  font-weight: bold;
  font-size: 22px;
}
.upcoming .events .event1 .tinytext {
  width: 140px;
  height: 41px;
  margin-left: 20px;
  font-family: gillReg;
  font-size: 15px;
  color: white;
}
.upcoming .events .event1 .tinytext2 {
  font-family: gillReg;
  font-size: 13px;
  color: #EE4367;
}
.upcoming .events .event2 {
  margin-left: 20px;
  width: 220px;
  height: 124px;
  display: flex;
}
.upcoming .events .event2 .square {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
}
.upcoming .events .event2 .square .text {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  justify-content: center;
  margin-left: 15px;
}
.upcoming .events .event2 .square .text span {
  font-weight: bold;
  font-size: 22px;
}
.upcoming .events .event2 .tinytext {
  width: 140px;
  height: 41px;
  margin-left: 20px;
  font-family: gillReg;
  font-size: 15px;
  color: white;
}
.upcoming .events .event2 .tinytext2 {
  font-family: gillReg;
  font-size: 13px;
  color: #EE4367;
}
.upcoming .events .event3 {
  margin-left: 20px;
  width: 220px;
  height: 124px;
  display: flex;
}
.upcoming .events .event3 .square {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
}
.upcoming .events .event3 .square .text {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  justify-content: center;
  margin-left: 15px;
}
.upcoming .events .event3 .square .text span {
  font-weight: bold;
  font-size: 22px;
}
.upcoming .events .event3 .tinytext {
  width: 140px;
  height: 41px;
  margin-left: 20px;
  font-family: gillReg;
  font-size: 15px;
  color: white;
}
.upcoming .events .event3 .tinytext2 {
  font-family: gillReg;
  font-size: 13px;
  color: #EE4367;
}
.upcoming .events .event4 {
  margin-left: 20px;
  width: 220px;
  height: 124px;
  display: flex;
}
.upcoming .events .event4 .square {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
}
.upcoming .events .event4 .square .text {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  justify-content: center;
  margin-left: 15px;
}
.upcoming .events .event4 .square .text span {
  font-weight: bold;
  font-size: 22px;
}
.upcoming .events .event4 .tinytext {
  width: 140px;
  height: 41px;
  margin-left: 20px;
  font-family: gillReg;
  font-size: 15px;
  color: white;
}
.upcoming .events .event4 .tinytext2 {
  font-family: gillReg;
  font-size: 13px;
  color: #EE4367;
}
.upcoming .events .event5 {
  margin-left: 20px;
  width: 220px;
  height: 124px;
  display: flex;
}
.upcoming .events .event5 .square {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
}
.upcoming .events .event5 .square .text {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  justify-content: center;
  margin-left: 15px;
}
.upcoming .events .event5 .square .text span {
  font-weight: bold;
  font-size: 22px;
}
.upcoming .events .event5 .tinytext {
  width: 140px;
  height: 41px;
  margin-left: 20px;
  font-family: gillReg;
  font-size: 15px;
  color: white;
}
.upcoming .events .event5 .tinytext2 {
  font-family: gillReg;
  font-size: 13px;
  color: #EE4367;
}

.footer {
  height: 455px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
}
.footer .content {
  margin-top: 36px;
}
.footer .content .logo2 {
  width: 92px;
  height: 42px;
  border: 2px solid white;
  margin: 0 auto;
}
.footer .content .logo2 h4 {
  margin-top: 20px;
  letter-spacing: 3px;
  color: white;
  font-family: gillLight;
  font-size: 20px;
}
.footer .content .address {
  width: 270px;
  height: 19px;
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
  line-height: 5px;
  font-family: gillReg;
  color: white;
  font-size: 16px;
}
.footer .content .yep {
  margin: 0 auto;
  display: flex;
  width: 650px;
  height: 60;
}
.footer .content .yep input {
  width: 529px;
  height: 60px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #F56B88;
  opacity: 0.5;
  border: none;
  font-family: gillReg;
  padding-left: 23px;
}
.footer .content .yep input::placeholder {
  color: white;
}
.footer .content .yep button {
  background-color: white;
  margin: 0 auto;
  height: 60px;
  width: 167px;
  margin-top: 100px;
  border: none;
  font-family: gillReg;
  font-size: 16px;
  color: #EE4367;
  letter-spacing: 1px;
}
.footer .content .icons {
  display: flex;
  margin: 0 auto;
  width: 130px;
  height: 50px;
}
.footer .content .icons .fb {
  font-size: 30px;
  margin-top: 30px;
  color: white;
}
.footer .content .icons .insta {
  font-size: 30px;
  margin-top: 30px;
  color: white;
  padding-left: 30px;
}
.footer .content .icons .twitter {
  font-size: 30px;
  margin-top: 30px;
  color: white;
  padding-left: 30px;
}
.footer .content .copyright {
  display: flex;
  margin: 0 auto;
  padding-left: 70px;
  width: 350px;
  height: 14px;
  font-size: 12px;
  margin-top: 55px;
  font-family: gillReg;
  color: white;
}

@media all and (max-width: 1245px) {
  nav {
    width: 100%;
  }
  nav .links {
    width: 100%;
  }
  .quote {
    width: 100%;
    margin: 10px;
    height: 400px;
  }
  .quote .pg {
    width: 100%;
  }
  .quote .pg p {
    width: 100%;
  }
  .upcoming {
    width: 100%;
    height: fit-content;
  }
  .upcoming .events {
    width: 100%;
    flex-direction: column;
    height: fit-content;
    margin: 20px;
    padding-bottom: 10px;
  }
  .upcoming .events .event1 {
    margin-left: 20px;
  }
  .footer {
    width: 100%;
  }
  .footer input {
    width: 100%;
  }
}
@media all and (max-width: 660px) {
  .john {
    height: fit-content;
    padding-top: 100px;
    margin-left: 20px;
  }
  .CEO {
    width: 100%;
    padding-top: 20px;
  }
  .footer {
    height: 100%;
  }
  .yep {
    padding-right: 200px;
    flex-direction: column;
  }
}
.nav2 {
  height: 65px;
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
.nav2 a {
  text-decoration: none;
  color: black;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 47px;
  letter-spacing: 2px;
}
.nav2 .logo {
  width: 92px;
  height: 42px;
  border: 2px solid black;
}
.nav2 .logo h4 {
  margin-top: 20px;
  letter-spacing: 3px;
  color: black;
  font-family: gillLight;
  font-size: 20px;
}
.nav2 .links {
  min-width: 300px;
  height: 42px;
  align-items: center;
  margin-top: 47px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav2 .links .pipe {
  color: #EE4367;
}

hr {
  color: black;
  width: 980px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid black;
}

.hero2 {
  background: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/about.jpg);
  width: 979.03px;
  height: 378.75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
  margin: 0 auto;
  margin-top: 85.5px;
}
.hero2 .ourHistory {
  position: absolute;
  bottom: 0;
  font-family: gillReg;
  font-size: 25px;
}
.hero2 .line2 {
  width: 229px;
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  margin-bottom: -15px;
}

.pg2 {
  width: 980px;
  height: 96px;
  margin-top: 100px;
  margin-left: 150px;
  font-family: gillSansLightItalic;
  margin: 0 auto;
  margin-top: 36.5px;
  margin-bottom: 95px;
}

@media all and (max-width: 920px) {
  nav {
    width: 100%;
  }
  nav .links {
    width: 100%;
  }
  .hero2 {
    width: 100%;
  }
  .pg2 {
    width: 100%;
    height: fit-content;
    margin: 20px;
  }
}
.nav2 {
  height: 65px;
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
.nav2 a {
  text-decoration: none;
  color: black;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 47px;
  letter-spacing: 2px;
}
.nav2 .logo {
  width: 92px;
  height: 42px;
  border: 2px solid black;
}
.nav2 .logo h4 {
  margin-top: 20px;
  letter-spacing: 3px;
  color: black;
  font-family: gillLight;
  font-size: 20px;
}
.nav2 .links {
  min-width: 300px;
  height: 42px;
  align-items: center;
  margin-top: 47px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav2 .links .pipe {
  color: #EE4367;
}

hr {
  color: black;
  width: 980px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid black;
}

.context {
  width: 980px;
  margin: 0 auto;
}
.context .gal {
  font-family: gillReg;
  width: 123px;
  height: 29px;
  font-size: 25px;
  margin-top: 65.5px;
}
.context .line3 {
  width: 229px;
  margin-left: 0px;
}
.context .top-row {
  display: flex;
}
.context .top-row .yellow {
  background: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/gallery/1.png);
  width: 489px;
  height: 187px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
  margin-top: 29.5px;
}
.context .top-row .pink {
  background: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/gallery/2.jpeg);
  width: 187px;
  height: 187px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
  margin-top: 29.5px;
  margin-left: 20px;
}
.context .top-row .green {
  background: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../images/gallery/3.jpg);
  width: 265px;
  height: 187px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
  margin-top: 29.5px;
  margin-left: 20px;
}
.context .bottom-row {
  display: flex;
  margin-bottom: 60px;
}
.context .bottom-row .purple {
  background: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../images/gallery/4.jpg);
  width: 603px;
  height: 306px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
  margin-top: 29.5px;
}
.context .bottom-row .blue {
  background: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../images/gallery/5.png);
  width: 355px;
  height: 306px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(150%);
  margin-top: 29.5px;
  margin-left: 20px;
}

@media all and (max-width: 1000px) {
  .gal {
    margin: 20px;
  }
  .line3 {
    margin: 20px;
  }
  .top-row {
    flex-direction: column;
    margin: 20px;
    width: 100%;
  }
  .bottom-row {
    flex-direction: column;
    margin: 20px;
    width: 100%;
  }
}
@media all and (max-width: 644px) {
  .bottom-row .purple {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
